@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.legal {
  padding: 8px;
}

.legal a {
  color: #337ab7;
  text-decoration: none;
  padding: 8px;
}

.legal a:hover {
  text-decoration: underline;
}

.legal span {
  padding-right: 10px;
}

.socialMedia {
  padding: 8px;
  padding-right: 18px;
}

.socialMedia a {
  color: #337ab7;
  text-decoration: none;
  padding: 8px;
}

.socialMedia a:hover {
  text-decoration: underline;
}

.check-mark {
  margin-right: 8px;
}